.divider{
    margin: 20px;
}
.counter-label{
    text-align: center;
    margin: 20px 20px;
}
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .canvas{
    margin: 20px 20px;
    line-height: normal;
  } 
  

